/** Empty **/

.bg-brown-light {
  background-color: rgba(96, 76, 52, 0.8);
}
.bg-brown-dark {
  background-color: rgba(55, 45, 35, 0.8);
}

.text-brown-light {
  background-color: rgba(96, 76, 52, 0.8);
}
.text-brown-dark {
  background-color: rgba(55, 45, 35, 0.8);
}
