@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Menomonia";
  src: url(/fonts/menomonia.ttf) format("truetype");
}

:root {
  font-family: "Menomonia", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Menomonia", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  box-sizing: border-box;
}

#root,
html,
body {
  height: 100vh;
}

body,
#root {
  margin: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

body:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url(/ui/windowbg-brushed.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 0px;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(40, 38, 37, 0.7);
}

*::-webkit-scrollbar-thumb {
  background-color: #342622;
  border-radius: 0.2em;
  @apply shadow-md;
}

@media (prefers-color-scheme: dark) {
}
